<div class="container">
  <form class="align-center" name="editForm" [formGroup]="albumUpsertForm">
    <div class="row">
      <div class="col-6">
        <mat-form-field class="example-full-width">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Ex. Pizza" id="title" name="title"
            formControlName='title' />
        </mat-form-field>
      </div>
      <div class="col-3" formArrayName="songs">
        <div cdkDropList (cdkDropListDropped)="onSongPositionChanged($event)">
          <div cdkDrag *ngFor="let song of songs.controls; let i = index" [formGroupName]="i">
            <mat-card *ngIf="!song.editMode">{{song.value.songTitle}}
              <i class="fa fa-pencil-square mr-1" (click)="configureEditMode(song)"></i>
              <i class="fa fa-trash-o" (click)="removeSong(i)"></i>
            </mat-card>
            <div *ngIf="song.editMode">
            <mat-form-field class="example-full-width">
              <mat-label>Song title</mat-label>
              <input matInput formControlName="songTitle" />
            </mat-form-field>
            <i class="fa fa-close" (click)="configureEditMode(song)"></i>
        </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <mat-form-field appearance="fill">
          <mat-label>Biography</mat-label>
          <textarea matInput cdkTextareaAutosize="true" rows="10" cols="50" name="description"
            formControlName="description">
        </textarea>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <mat-form-field>
          <mat-label>Album external source</mat-label>
          <input matInput="url" placeholder="Ex. Pizza" id="url" name="url" formControlName="url" />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>Start record date</mat-label>
        <input matInput [matDatepicker]="formationDatePicker" formControlName="startRecordDate"
          name="startRecordDate" />
        <mat-datepicker-toggle matSuffix [for]="formationDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #formationDatePicker startView="year"></mat-datepicker>
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Release date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="releaseDate" name="releaseDate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year"></mat-datepicker>
    </mat-form-field>

    <button class="btn btn-primary" type="submit" (click)="upsertAlbum()" [disabled]="!albumUpsertForm.valid">
      Save
    </button>
  </form>
</div>