<div class="container">
  <form class="align-center" name="editForm" (ngSubmit)="upsertAlbum()">
    <div class="row">
      <mat-form-field class="example-full-width">
        <mat-label>Title</mat-label>
        <input
          matInput
          placeholder="Ex. Pizza"
          id="title"
          name="title"
          required
          [(ngModel)]="album.title"
        />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Biography</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize="true"
          rows="10"
          cols="50"
          name="description"
          [(ngModel)]="album.description"
        >
        </textarea>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="example-full-width">
        <mat-label>Album external source</mat-label>
        <input
          matInput="url"
          placeholder="Ex. Pizza"
          id="url"
          name="url"
          required
          [(ngModel)]="album.url"
        />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>Start record date</mat-label>
        <input
          matInput
          [matDatepicker]="formationDatePicker"
          [(ngModel)]="album.startRecordDate"
          required
          name="formationDate"
        />
        <mat-datepicker-toggle matSuffix [for]="formationDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #formationDatePicker startView="year"></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>Release date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [(ngModel)]="album.releaseDate"
          name="disbandDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year"></mat-datepicker>
      </mat-form-field>
    </div>

    <button class="btn btn-primary btn-lg btn-block" type="submit">
      Continue to checkout
    </button>
  </form>
</div>
