<div class="container">
  <form
    class="align-center"
    [formGroup]="bandUpsertForm"
    (ngSubmit)="upsertBand()"
    ngxsForm="bandEdit.BandEditForm"
  >
    <div class="row">
      <mat-form-field class="example-full-width">
        <mat-label>Title</mat-label>
        <input
          matInput
          placeholder="Ex. Pizza"
          name="title"
          formControlName="title"
        />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Biography</mat-label>
        <textarea
          matInput
          cols="100"
          name="description"
          formControlName="biography"
        >
        </textarea>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="mr-3">
        <mat-label>Formation date</mat-label>
        <input
          matInput
          [matDatepicker]="formationDatePicker"
          formControlName="formationDate"
          name="formationDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="formationDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #formationDatePicker startView="year"></mat-datepicker>
        <mat-error *ngIf="this.bandUpsertForm.hasError('invalidDateRange')">
          Formation date can't be more than disband date
        </mat-error>
        <mat-error
          *ngIf="
            this.bandUpsertForm.controls['formationDate'].hasError('required')
          "
        >
          Formation date is a mandatory field
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Disband date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="disbandDate"
          name="disbandDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year"></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="row mt-4">
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!bandUpsertForm.valid"
      >
        Save
      </button>
    </div>
  </form>
</div>
