<div class="jumbotron jumbotron-fluid">
  <div class="d-flex justify-content-center bd-highlight">
    <div class="p-2 bd-highlight">
      <img
        class="rounded-circle"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
        alt="Generic placeholder image"
        width="140"
        height="140"
      />
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4 text-center">
        <h2 class="d-inline m-2">{{ band.Name }}</h2>
        <a
          class="d-inline text-secondary fa fa-book"
          [routerLink]="['/bands/', band.Id, 'edit']"
        ></a>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 mb-4">
      <h4><strong>Discography</strong></h4>
      <a class="fa fa-plus float-right" [routerLink]="['/albums/create']" [state]="{bandId: band.Id}"></a>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 mb-4" *ngFor="let album of band.Albums">
        <a [routerLink]="['/albums/view/', album.Id]">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="" />
        </a>
        <p>{{ album.Title }}</p>
        <small>{{ album.ReleaseDate | date: "yyyy" }}</small>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>
          <strong>About {{ band.Name }}</strong>
        </h3>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-6">
        {{ band.Description }}
      </div>
      <div class="col-6">
        <strong class="text-muted">Formed</strong>
        <p>{{ band.FormationDate | date: "yyyy" }}</p>
        <div *ngIf="band.DisbandDate">
          <strong class="text-muted">Disbanded</strong>
          <p>{{ band.DisbandDate | date: "yyyy" }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
