<div *ngIf="this.isPageLoaded">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>Search</h1>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <input [(ngModel)]="searchTerm" type="search" id="search" value="" class="form-control" placeholder="Search using Fuzzy searching">
        </div>
        <div class="col-lg-4 col-lg-offset-4">
            <button class="btn btn-primary"
            type="submit"
            (click)="this.performSearch()" >Search</button>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Period</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of this.entity.Data">
                    <tr>
                        <td>{{item.Name}}</td>
                    </tr>
                    <tr>
                        <td>{{item.TimePeriod}}</td>
                    </tr>
                </tbody>
            </table>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3>Non-table example</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <input type="search" id="container-search" value="" class="form-control" placeholder="Search...">
        </div>
    </div>
</div>
<div class="container" id="searchable-container">
    <div class="row row-padding">
        <div class="col-xs-4">{{this.entity}}</div>
        <div class="col-xs-4">Col 2</div>
        <div class="col-xs-4">Col 3</div>
    </div>
    <div class="row row-padding">
        <div class="col-xs-4">Another row</div>
        <div class="col-xs-4">With some</div>
        <div class="col-xs-4">Other data</div>
    </div>
    <div class="row row-padding">
        <div class="col-xs-4">Lorem</div>
        <div class="col-xs-4">Ipsum</div>
        <div class="col-xs-4">Dolor</div>
    </div>
    <div class="row row-padding">
        <div class="col-xs-4">Foo</div>
        <div class="col-xs-4">Bar</div>
        <div class="col-xs-4">Baz</div>
    </div>
</div>
</div>
